@section style{
    <style>

    </style>
}
<h1>Menu Session</h1>
<hr />
<ul class="list-group">
    <li class="list-group-item list-group-item-secondary">
        <a asp-controller="Empleado" asp-action="SessionSalarios">Session salarios</a>
    </li>
    <li class="list-group-item list-group-item-secondary">
        <a asp-controller="Empleado" asp-action="SessionEmpleados">Session empleados</a>
    </li>
    <li class="list-group-item list-group-item-secondary">
        <a asp-controller="Empleado" asp-action="SessionEmpleadosBueno">Session empleados bueno</a>
    </li>
    <li class="list-group-item list-group-item-secondary">
        <a asp-controller="Empleado" asp-action="SessionEmpleadosBuenoV4">Session empleados bueno V4</a>
    </li>
</ul>